<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <settings>
      <setting name="CloudMedia.MediaLinkCdnServerUrl" value="#{CloudMedia.CdnServerUrl}" />
    </settings>


    <cloudMediaStorage>
      <storageProvider type="FS.MediaLibrary.AzureStorage.AzureStorageProvider, FS.MediaLibrary.AzureStorage">
        <param name="accountName">#{Azure.StorageAccountName}</param>
        <param name="accountKey">#{Azure.StorageAccountKey}</param>
        <param name="container">#{Azure.StorageContainer}</param>
      </storageProvider>
    </cloudMediaStorage>


    <pipelines>

      <!-- Custom Pipeline to Process Media Items -->
      <cloud.MediaProcessor argsType="FS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.MediaProcessorArgs">
        <processor type="FS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.CalculateFileHash, FS.MediaLibrary.CloudStorage" />
        <processor type="FS.MediaLibrary.CloudStorage.Pipelines.MediaProcessor.UploadToCdn, FS.MediaLibrary.CloudStorage" />
      </cloud.MediaProcessor>

    </pipelines>

    <processors>

      <uiUpload>
        <processor type="FS.MediaLibrary.CloudStorage.Pipelines.uiUpload.EnsureFileBasedMedia, FS.MediaLibrary.CloudStorage" mode="on" patch:before="*[1]">
          <config hint="list">
            <location>/sitecore/media library/Files</location>
            <!-- *** Add as many media library locations as required to force those folders to upload to cloud storage ***
            <location>/sitecore/media library/CloudMedia</location> -->
          </config>
        </processor>
        <processor mode="on" type="FS.MediaLibrary.CloudStorage.Pipelines.uiUpload.ProcessMedia, FS.MediaLibrary.CloudStorage" 
                             patch:after="*[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" />
      </uiUpload>
      <attachFile>
        <processor mode="on" type="FS.MediaLibrary.CloudStorage.Pipelines.AttachFile.DeletePreviousMedia, FS.MediaLibrary.CloudStorage" 
                             patch:before="*[@type='Sitecore.Pipelines.Attach.UpdatePath,Sitecore.Kernel']" />
        <processor mode="on" type="FS.MediaLibrary.CloudStorage.Pipelines.AttachFile.ProcessMedia, FS.MediaLibrary.CloudStorage" />
      </attachFile>
    </processors>
    
    <events>
      <event name="item:deleting">
        <handler type="FS.MediaLibrary.CloudStorage.Events.MediaItemDeleting, FS.MediaLibrary.CloudStorage" method="OnItemDeleting"/>
      </event>
    </events>
    
    <!-- To force media links to include the Cloud URL, rather than using redirects, uncomment the following -->
    <!--<mediaLibrary>
      <mediaProvider>
        <patch:attribute name="type">FS.MediaLibrary.CloudStorage.Media.MediaProvider, FS.MediaLibrary.CloudStorage</patch:attribute>
      </mediaProvider>
    </mediaLibrary>-->

    </sitecore>
</configuration>
