<?xml version="1.0"?>
<appSettings>
  <!-- Media: Azure Cloud Storage -->
  <add key="Azure.StorageAccountName" value="{replace-me-with-account}" />
  <add key="Azure.StorageAccountKey" value="{replace-with-your-key}" />
  <add key="Azure.StorageContainer" value="{replace-me-with-container}" />
  <add key="Azure.StorageUrl" value="{replace-me-with-endpoint-url}" />
</appSettings>